{% extends "@ApplicationProjectContent/base/base_web.html.twig" %}

{% block title %}
    list
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}

{% endblock %}


{% block body %}
    <div class="container" style="margin-top: 5%">
        <div class="row">

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Curso</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_curso_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo TipoCurso</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_tipoCurso_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Regime</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_regime_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Aluno</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_aluno_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo DocumentoAcademico</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_documentoAcademico_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo TipoTrabalho</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_tipoTrabalho_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo PalavraChave</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_palavraChave_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo CorpoAcademico</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_corpoAcademico_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo Titulo</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_titulo_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>

            <div class=col-4 style="margin-bottom: 10px;">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Módulo TipoTitulo</h5>
                        <p class="card-text">...</p>
                        <a href="{{ path("web_tipoTitulo_list") }}" class="btn btn-primary">Ir para</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}




